<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>MyChat</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <!-- <script src='main.js'></script> -->
</head>
<body>

    <main>
        <section id="form-container">

            <img id="logo" src="images/chat-icon.png"/>

            <div id="welcome-message">
                <h1>歡迎來到視訊系統</h1>
                <p>一起來聊天吧!</p>
            </div>

            <form id="form">
                <div class="form-field">
                    <label>房間</label>
                    <input type="text" name="room" placeholder="輸入您的房間名稱..."/>
                </div>

                <div class="form-field">
                    <label>名字</label>
                    <input type="text" name="room" placeholder="輸入您的名字..."/>
                </div>

                <div class="form-field">
                    <input type="submit"  value="加入房間">
                </div>
            </form>
        </section>
    </main>
    
</body>
</html>